/* a simple CSS "reset" - removes default styling from the browser! */

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input,
button {
    display: inline-block;
    appearance: none;
    border: 1px solid #ccc;
    background: #fff;
    padding: 0;
    line-height: inherit;
    font: inherit;
}

/* Your CSS goes here */
